/*styling the background by adding the image in the body*/
body {
    background-image: url('movie bg.jpg');
    background-attachment:fixed;
    background-size: 100%;
}
/*styling the heading of the name of the bot*/
h1 {
    color: #fff;
    font-size: 55px;
    background: #7c5295;
    margin-top: 10px;
    margin-left: 11px;
    padding: 8px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1410px;
}

/*instruction class styling*/
.instruction {
    width: 734px;
    margin-left: 12px;
    margin-top: 2px;
    height: 210px;
    padding-top: -2px;
}
/*styling the second heading*/
.instruction > h2 {
    color: #019875;
    font-size: 35px;
    margin-top: -20px;
    margin-left: 657px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 155px;
}
/*instruction paragraph styling*/
    .instruction > p {
        margin-left: 660px;
        color: whitesmoke;
        text-align: left;
        font-size: 17px;
        width: 740px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
/*chatbot class styling*/
.chatbot {
    float: left;
    height: 10px;
    margin-left: 670px;
    margin-top: 40px;
}
